/* setting color variables  */
:root{
    --lime-green:#32cd32;
    --emerald-green:#5FBB9C;
    --dark-green:#006400;
    --transparent-lime-green:#32cd324b;
    --transparent-2-lime-green:#aae9aa75;
    --transparent-2-lime-white:#d5e7dce2;


}
/* styling starts */
/* header style starts */
body {
    font-family: 'Poppins', sans-serif;
}
.header-bar
{
    justify-content: space-between;
    display: flex;
    padding: 20px 20px 0 20px;
}
.left-bar
{
    color: var(--dark-green);
    font-weight:900;
    font-size: x-large;
}
.left-bar:hover
{
    color: var(--emerald-green);
}
.rightbar
{
    display: flex;
}
.h-btn{
    color: var(--dark-green);
}
.h-btn:hover
{
    background-color: var(--emerald-green);
    color: white;
    border-radius: 5px;
    margin-left: 15px;
}
.contact-btn{
    margin-left: 15px;
    color: white;
    background-color:var(--dark-green);
}
.contact-btn:hover
{
    background-color: var(--emerald-green);  
}
.btn-round
{
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    margin-left: 15px;
}
.header-hr
{
border: 1px solid var(--dark-green);  
margin: 20px 20px 0 20px;
}
a{
    text-decoration: none;
}
/* header-styles end  */

/* page body style starts  */

.page-body
{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;

}
.right-body-side
{
    width: 40%!important;
}
.body-side-div
{
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: var(--transparent-lime-green);
    padding: 15px 20px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

/* side div restaurant popular dishes */
.restaurant-title
{
    margin: auto;
    font-weight: bold;
    padding: 0 10px ;
    color: var(--dark-green);
}

.food-ingredients
{
    margin: auto;
    padding: 0 10px ;
    font-size: 11px;
}

.card-space
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    
}
.food-card
{
    background-color:var(--transparent-2-lime-white);
    width:185px;
    height: auto;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.food-image-section
{
    text-align: center;
    margin-top: 15px;
}
.food-img
{
    width: 150px;
    height: 150px;
}
.food-footer
{
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: var(--lime-green);
    color: white;
    margin: 5px 0px;
    
}
.act-btn
{   
    padding: 5px;   
}
.food-footer:hover
{
    background-color: var(--dark-green);
    color: black;
}
.ratings
{
    padding: 5px;
    font-weight: 900;
}


/* page body style ends  */